<div class="card text-center" id="event_card_<%= event.uuid %>">
  <div class="card-header">
    <%= event.event_type.capitalize %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= event.title %></h5>
    <p class="card-text"><%= event.description %></p>
    <%= link_to "Show this event", event, class: "btn btn-primary" %>
  </div>
  <div class="card-footer text-muted">
    <%= event.created_at.strftime("%B %d, %Y") %>
  </div>
</div>
<br>