<tr id="<%= dom_id(event) %>">
  <td><%= event.name %></td>
  <td><%= event.birthdate %></td>
  <td><%= event.title %></td>
  <td><%= event.event_type %></td>
  <td><%= link_to "Show this event", event %></td>
</tr>