<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-sm-6">
    <h1>Events</h1>
  </div>

  <div class="col-sm-6 text-end">
    <%= link_to new_event_path, class: 'btn btn-primary' do %>
      Add New Event
    <% end %>
  </div>
</div>

<% if @events.any? %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Birthdate</th>
        <th>Description</th>
        <th>Event Type</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.birthdate %></td>
          <td><%= event.description %></td>
          <td><%= event.event_type %></td>
          <td><%= link_to "Show this event", event %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="text-center">No events are available</div>
<% end %>
